html {
    box-sizing: border-box;
}

* {

}
*,
*::before,
*::after {
    box-sizing: inherit;
}

h1 {
    margin: 0;
}

p {
    margin: 0;
}

a{
    text-decoration: none;
    color: inherit;

}

button {
    padding: 0;
    border: none;
    background: none;

    cursor: pointer;
}

ul {
    list-style: none;
}

body {
    font-family: "Inter", sans-serif;
    color: black;
    line-height: 1.2;
    font-size: 16px;
    font-weight: 500;
    margin: 0;
}

.container{
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
}


.header {
    height: 100vh;
    position: relative;
}


.header__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0;
}

.menu__list {
    display: flex;
    align-items: center;
    gap: 0 40px;
    font-weight: 700;
}

.menu__btn {
    color: white;
    text-transform: uppercase;
    background: #000;
    font-weight: bold;
    border-radius: 30px;
    text-align: center;
    padding: 15px 58px;
}

.menu__btn:hover {
    opacity: 0.9;
}

.header__content-images{
    text-align: center;
    padding-bottom: 50px;
}

.header__content-images::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: -10;
    background: linear-gradient(180deg, #CADBEB 0%, rgba(235, 235, 235, 0) 100%);
}

.title {
    position: absolute;
    font-weight: bold;
    font-size: 210px;
    padding-top: 110px;
}

.title--pod {
    z-index: -1;

    position: relative;
}

.title--s {
    display: inline-block;
    transform: translateY(68px);
}

.title--m {
    display: inline-block;
    transform: translate(-57px, 275px);
}

.title--ax {
    display: inline-block;
    transform: translate(-128px, 421px);
    z-index: -1;
    position: relative;
}

.choose-color {
    padding: 45px 0 180px;
    text-align: center;
}

.choose-color-title {
    font-weight: bold;
    font-size: 36px;
    max-width: 555px;
    margin: 0 auto 20px;
}

.choose-color-text {
    max-width: 555px;
    margin: 0 auto 80px;
}

.choose-color__list {
    display: flex;
    gap: 40px;
    justify-content: center;
}

.choose-color__btn {
    border-radius: 20px;
    border: 1px solid #777;
    padding: 50px 55px
}

.choose-color__btn:hover {
    opacity: 0.9;
}

.composition {
    margin-bottom: 180px;
}


.composition__title {
    text-align: center;
}

.composition__text {
    text-align: center;
    width: 650px;
    margin: 0 auto 40px;
}


.composition__inner {
    max-width: 625px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.composition__inner-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
}

.composition__inner-text p {
    width: 230px
}

.main__title {
    font-weight: bold;
    font-size: 64px;
    margin-bottom: 20px;
}

.case {
    background-color: #fafafa;
    padding: 80px 0 100px;
    text-align: center;
}

.case__title {
}

.case__text {
    max-width: 825px;
    margin: 0 auto 40px;
}

.energy__number {
    font-size: 210px;
    font-weight: bold;
    margin-bottom: 40px;
}


.energy__title {
    padding-top: 160px;
    margin-bottom: 40px;
}

.energy__text {
    max-width: 400px;
    margin: 0 auto;
}

.audio {
   /* position: relative; */
    background-image: url("../img/tipok.jpg");
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}

.content-item {
    display: none;
}

.content-item.content-item-active {
    display: inline-block;
}

.choose-color__btn-active {
    display: none;
}
/*
.audio:before {
    content: '';
    background-image: url("../img/tip.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    right:0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
}

.audio::after {
    content: '';
    position: absolute;
    background-image: url(../img/sound.png);
    bottom: -250px;
    width: 100%;
    left: 0;
    right: 0;
    height: 150vh;
    background-position: bottom center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
} */

.audio__inner {
    min-height: 220vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;

}

.audio__box {
    text-align: center;
    color: #ffffff;

    padding-bottom: 40vh;
}

.audio__text {
    width: 300px;
    margin-bottom: 10px;
}

.btn {
    text-transform: uppercase;
    font-weight: bold;
    color: #000;
    background-color: #fff;
    margin-top: 20px;
    border-radius: 30px;
    text-align: center;
    padding: 15px 58px;
}

.footer {
    padding: 50px 0 40px;
    background-color: #000;
    color: white;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}



.footer__list {
    display: flex;
    align-items: center;
    padding-top: 80px;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.footer__text {
    padding: 20px 0;
}

@media  (max-width: 1449px) {
    .choose-color__list {
        flex-wrap: wrap;
    }
    .header__content-images img {
        max-width: 100%;
    }
    .title {
        font-size: 180px;
        transform: translate(129px, 29px);
    }
}

@media (max-width: 1349px){
    .title {
        transform: none;
        font-size: 140px;
        padding-top: 20vh;
        left: 0;
        right: 0;
        text-align: center;
    }
    .title--pod {
        z-index: 1;
    }

    .title--s {
        transform: none;
    }

    .title--m {
        transform: none;
    }

    .title--ax {
        transform: none;
    }
}

@media (max-width: 930px){
    .title {
        position: relative;
        font-size: 100px;
        padding-top: 0;
    }

    .title--m {
        padding-left: 15px;
    }
}

@media  (max-width: 768px) {
    .choose-color {
        padding-bottom: 60px;
    }
    .main__title {
        font-size: 36px;
    }
    .composition {
        margin-bottom: 60px;
    }
    .case {
        padding: 60px 0;
    }
    .energy__title {
        padding-top: 60px;
        margin-bottom: 20px;
    }
    .energy__number {
        font-size: 110px;
        margin-bottom: 20px;
    }
    .choose-color__list {
        gap: 16px;
    }
    .title {
        font-size: 58px;
    }
}

@media (max-width: 560px) {
    .choose-color-text {
        margin-bottom: 40px;
    }
    .choose-color {
        padding-bottom: 40px;
    }

    .case {
        padding: 40px 0;
    }

    .composition__inner-text p{
        width: 100%;
    }

    .composition__inner {
        flex-wrap: wrap;
        gap: 40px;
        justify-content: center;
    }

    .menu__list {
        flex-wrap: wrap;
        gap: 20px 40px;
    }

    .menu__item-btn {
        margin-left: auto;
    }

    .menu__item-btn button {
        width: 250px;
    }

    .menu__item:first-child {
        margin-left: auto;
    }

    .header__top {
        align-items: flex-start;
    }
}


@media (max-width: 414px) {
    .main__title,
    .choose-color-title
    {
        font-size: 28px;
    }
    .energy__number {
        font-size: 92px;
    }
    .case img{
        max-width: 100%;
    }
}

@media (max-width: 404px) {
    .title {
        font-size: 50px;
    }

}