html {
    box-sizing: border-box;
}

* {

}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body{
    min-height: 100vh;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
}

ul {
    list-style: none;
}

body {
    font-family: "Inter", sans-serif;
    color: black;
    line-height: 1.3;
    font-size: 16px;
    font-weight: 400;

}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}

.section-title {
    margin-bottom: 50px;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
}
.header__inner {
    padding: 40px 0 45px 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.menu__list {
    display: flex;
    gap: 35px;

}

.menu__list-link {
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    transition: color 0.3s ease;
}

.menu__list-link--active{
    color: #0066FF;
}

.menu__list-link:hover {
    color: #0066FF;

}

.header {
    background-color: #151515;
}

.header-main{
    background-color: transparent;
    position: absolute;
    z-index: 5;
    left: 0;
    right: 0;
}

.footer {
    background-color: #151515;
    padding: 50px 0 32px;
    color: white;
}

.footer__menu {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;

}

.footer__menu-title {
    font-weight: bold;
    font-size: 24px;
    padding-bottom: 20px;
}

.footer__menu-item + .footer__menu-item {
    padding-top: 20px;
}

.footer__menu-list {
    max-width: 250px;
}

.app {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 52px;
    flex-wrap: wrap;
}

.footer__copy {
    max-width: 560px;
    margin: 0 auto 50px;
    text-align: center;
    font-size: 12px;
}

.copy__nav-list {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.top {
   color: white;
    text-align: center;
    padding-top: 250px;
    padding-bottom: 45px;
    position: absolute;
    z-index: 5;
    left: 0;
    right: 0;

}

.title {
    font-size: 96px;
    font-weight: bold;
    padding-bottom: 40px;
}

.top__link {
    background-color: #151515;
    padding: 23px;
    max-width: 430px;
    width: 100%;
    display: inline-block;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: bold;
}

.swiper-slide{
    height: 100vh;
}



.swiper::after {
    content: '';
    background: rgba(21, 21, 21, 0.3);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 4;
}

.swiper-slide {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;

}

.swiper-pagination-bullet {
   width: 120px;
    height: 3px;
    background-color: #151515;
    border-radius: 0;
    opacity: 1;
    margin: 0 15px 50px !important;
}

.swiper-pagination-bullet-active {
    background-color: white;
    height: 5px;
}

.why-lease {
    padding: 150px 0;
}

.why-lease__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    text-align: center;
}

.why-lease__list-item-img {
    margin-bottom: 30px;
}

.why-lease__item-title {
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 24px;
}

.why-lease__list-item-text {
    text-align: left;
}

.how-leasing-work {
    padding-bottom: 150px;
}

.how-leasing-work__inner {
    margin: 0 auto;
    max-width: 600px;
}

.how-leasing-work__list-title {
    font-size: 24px;
    font-weight: 700;
    padding-top: 50px
}

.how-leasing-work__list {
    padding: 50px 0 70px;
    counter-reset: myCounter;
}

.how-leasing-work__list-item::before {
    counter-increment: myCounter;
    content: counter(myCounter);
    font-size: 48px;
    font-weight: 700;
    background-color: #0066FF;
    color: white;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;
}

.how-leasing-work__list-item + .how-leasing-work__list-item {
    margin-top: 40px
}

.how-leasing-work__list-item {
    margin-left: auto;
    position: relative;
    width: 270px;
    box-sizing: content-box;
    padding: 19px 0 19px 240px;
    min-height: 63px;
}

.video-instruction-title {
    text-transform: uppercase;
}

.video-instruction__text {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 50px;
    text-align: center;
}

.video-instruction {
    padding-bottom: 150px;

}

.video-instruction-title {
    margin-bottom: 20px;
}

.video-instruction__content {
    display: block;
    margin: 0 auto;
}

.important-things {
    padding-bottom: 150px;
}

.important-things__title {
    margin-bottom: 20px;
}
.important-things__text {
    max-width: 580px;
    margin: 0 auto 50px;
}

.important-things__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    text-align: center;
}

.important-things__item-image {
    margin-bottom: 30px;
}


.contacts-form {
    padding: 100px 0 150px;
}

.contacts-form__title {
    margin-bottom: 20px;
}

.contacts-form__subtitle {
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 50px;
    padding: 0 100px;
}

.form {
    max-width: 580px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.form-textarea {
    width: 100%;
    height: 290px;
    resize: none;
    padding: 28px 20px;
    display: inline-block;
    border: 1px solid #0066FF;
    font-family: "Inter", sans-serif;
    color: black;
    line-height: 1.3;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 50px;
}

.form-textarea::placeholder {
    font-family: "Inter", sans-serif;
    color: black;
    line-height: 1.3;
    opacity: 0.5;
    font-size: 16px;
    font-weight: 500;
}
.input {
    width: 270px;
    padding: 18px 20px;
    display: inline-block;
    border: 1px solid #0066FF;
    margin-bottom: 50px;
    font-family: "Inter", sans-serif;
    color: black;
    line-height: 1.3;
    font-size: 16px;
    font-weight: 500;
}

.input::placeholder {
    font-family: "Inter", sans-serif;
    color: black;
    line-height: 1.3;
    opacity: 0.5;
    font-size: 16px;
    font-weight: 500;
}

.form-btn {
    background-color: black;
    text-transform: uppercase;
    color: #ffffff;
    font-family: "Inter", sans-serif;
    line-height: 1.3;
    font-size: 16px;
    font-weight: 500;
    padding: 16px 61px;
    margin: 0 auto;
}

.blog-articles{
    padding-bottom: 150px;
}

.blog-articles__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    margin-bottom: 70px;
}

.blog-articles__item {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.blog-articles__item-img {
    margin-bottom: 30px;
    width: 100%;
}

.blog-articles__item-title {
    font-weight: 700;
    flex-basis: 446px;
    font-size: 20px;
}

.blog-articles__item-link {
    color: #ffffff;
    padding: 4px 20px;
    background-color: #0066FF;
}

.show-more__link {
    background-color: black;
    text-transform: uppercase;
    color: #ffffff;
    font-family: "Inter", sans-serif;
    line-height: 1.3;
    font-size: 16px;
    font-weight: 500;
    padding: 16px 61px;
    display: block;
    width: fit-content;
    margin: 0 auto;
}

.choose {
    padding: 100px 0 150px;
}

.tabs__btn-item--active {
    color: #0066FF;
}

.tabs__btn {
   padding: 0 150px 100px;
    display: flex;
    justify-content: space-between;
    gap: 80px;


}

.tabs__btn-item {
    font-weight: bold;
    font-family: "Inter", sans-serif;
    line-height: 1.3;
    font-size: 16px;
}

.tabs__content-item {
    display: none;
    gap: 100px 40px;
    grid-template-columns: repeat(4, 1fr);
}

.card {
    text-align: center;
}

.card__content {
    padding: 0 5px;
    border: 1px solid #0066FF;
    border-top: 0;
}

.card__title {
    padding-top: 20px;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 20px;
}

.card__price {
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 24px; } .card__text {
    margin-bottom: 20px;
}

.card__link {
    display: block;
    color: #0066FF;
    border: 1px solid #0066FF;
    border-top: 0;
}


.card-img {
    display: block;
}

.tabs__content-item.tabs__content-item--active {
    display: grid;
}

.tabs {
    margin-bottom: 70px;
}


.menu__btn {
    width: 20px;
    height: 20px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.menu__btn span {
    height: 2px;
    width: 100%;
    background-color: white;
}

.card-img {
    width: 100%;
}

/* Media */

@media (max-width: 1180px) {
    .important-things__list {
        gap: 30px 20px;
    }

    .important-things__item-image {
        width: 100%;
    }

    .tabs__content-item {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 1040px) {
   .video-instruction__content {
       max-width: 100%;
   }

    .tabs__btn {
        padding: 0 0 50px;
        gap: 20px
    }

}
@media (max-width: 860px) {
    .why-lease__list {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .important-things__list {
        grid-template-columns: repeat(2, 1fr);
    }

    .menu__btn {
        display: flex;
    }

    .menu__btn, .logo {
        position: relative;
        z-index: 10;
    }

    .top {
        z-index: 4;
    }

    .menu__list {
        position: absolute;
        background-color: black;
        flex-direction: column;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        align-items: center;
        justify-content: space-evenly;
        height: 100vh;
        padding-top: 200px;
        z-index: 5;
        transform: translateY(-100%);
        transition: transform 0.3s ease;
    }

    .menu__list--active {
        transform: translateY(0%);
    }

    .tabs__content-item {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px)  {
    .footer__menu {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
    }

    .video-instruction__content {
        height: 400px;
    }

    .title {
        font-size: 70px;
    }

    .top__link {
        max-width: 360px;
        font-size: 28px;
        padding: 16px;
    }

    .swiper-pagination-bullet {
        width: 60px;
    }

    .swiper-pagination-bullet-active {
        height: 4px;
    }
}
@media (max-width: 650px) {

    .tabs__content-item {
        grid-template-columns: repeat(1, 1fr);
    }

    .blog-articles__items {
        grid-template-columns: repeat(1, 1fr);
    }

    .tabs__btn-item {
        font-size: 18px;

    }

    .form {
        flex-direction: column;

    }

    .input {
        width: 100%;
    }

    .contacts-form {
        padding-bottom: 50px;
    }

    .contacts-form__subtitle {
        padding: 0;
    }
}


@media (max-width: 540px) {
    .title {
        font-size: 60px;

    }

    .top__link {
        max-width: 310px;
        font-size: 24px;
    }

    .swiper-pagination-bullet {
        margin: 0 10px;
        width: 35px;
    }

    .why-lease__list {
        grid-template-columns: repeat(1, 1fr);
    }

    .why-lease {
        padding: 50px 0;
    }

    .section-title {
        font-size: 34px;
    }

    .important-things__list {
        grid-template-columns: repeat(1, 1fr);
    }

    .how-leasing-work__list {
        padding: 30px 0 40px;
    }

    .how-leasing-work__list-item {
        padding: 65px 0 19px 0;
        margin-right: auto;
    }

    .how-leasing-work__list-item::before {
        right: 0;
        margin: 0 auto;
        width: 50px;
        height: 50px;
        font-size: 32px;

    }

    .how-leasing-work {
        padding-bottom: 50px;
    }

    .video-instruction__content {
        height: 220px;
    }

    .video-instruction {
        padding-bottom: 50px;
    }

    .app,
    .copy__nav-list {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .blog-articles__item-title {
        margin-bottom: 10px;
    }

    .blog-articles__item-link {
        margin-left: auto;
    }

    .tabs__btn {
        flex-direction: column;
    }

    .choose {
        padding: 50px 0;
    }

    .tabs__content-item {
        gap: 40px;
    }

    .blog-articles {
        padding-bottom: 50px;
    }

}